ul#accordion {
    z-index: 1 !important;
    position: absolute;
    top: 0;
    left: 10px;
    list-style-type: none;
    padding: 0;
}

ul#accordion li {
    list-style: none;
    color: @button-font-color;
    height: 0;
    line-height: 2em;
    margin: 0;
    overflow: hidden;
    padding: 0 @side-panel-padding;
    width: @side-panel-width;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

ul#accordion li.show {
    height: @accordion-button-height;
    margin-bottom: 4px;
    padding: @side-panel-padding @side-panel-padding;
}

.slide-fade ul#accordion li {
    transition: @transition;
    opacity: 0;
}
.slide-fade ul#accordion li.show {
    opacity: 1;
}

.green {
    background: @green;
}

.green:hover {
    background: @green-dark;
}

.yellow {
    background: @yellow;
}

.yellow:hover {
    background: @yellow-dark;
}

.red {
    background: @red;
}

.red:hover {
    background: @red-dark;
}