ul#accordion li#login-buttons {
    width: @side-panel-width;
    padding: 0 @side-panel-padding;
    background-color: @grey;
    color: @side-panel-font-color;
}

ul#accordion li#login-buttons.show {
    height: auto;
    margin-bottom: 4px;
    padding: @side-panel-padding @side-panel-padding;
}

#login-dropdown-list {
    position: relative;
}

.accounts-dialog-overriden {
    transition: @transition;
    height: 0;
    overflow: hidden;
}

.accounts-dialog-overriden.show {
    height: auto;
}

#login-buttons .login-close-text {
    float: none;
}

.accounts-dialog-overriden div {
    padding: 6px 0;
    position: relative;
}

.accounts-dialog-overriden .login-button {
    transition: @transition;
    height:32px;
    width: @side-panel-width - 2;
    background-color: @button-background !important;
    border: 0 !important;
    color: @button-font-color !important;
    font-weight: bold;
    text-align: center !important;
    margin-top: 6px;
    padding: 5px 0px !important;
    border-radius: 0 !important;
    line-height: 2em !important;
    box-sizing: border-box;

}
.accounts-dialog-overriden .login-button:hover {
    background-color: @button-background-hover !important;
    cursor: pointer;
}

.message, .additional-link {
    font-size: @small-font-size;
    line-height: 1;
}
