ul#accordion li.crudButtons {
    width: @side-panel-width + 30;
    padding: 0 @side-panel-padding;
}

ul#accordion li.crudButtons.show {
    height: 3em;
    margin-bottom: 4px;
    padding: 0;
}

li.crudButtons .container {
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
}

li.crudButtons .container .button {
    transition: @transition;
    display: inline-block;
    text-align: center;
    padding: 6px 6px;
    position: relative;
    width: 65px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

li.crudButtons .container .button.disabled {
    width:0 !important;
    opacity: 0;
    padding: 6px 0px !important;
    margin-left: -4px;
}
