.visjs-nodes-rect {
    fill: @nodes-fill;
    stroke-width: 1;
    stroke: @nodes-stroke;
}

.visjs-nodes-rect-selected {
    fill: @nodes-selected;
    stroke-width: 2;
    stroke: @nodes-stroke;
}

.visjs-nodes-node-content {
    width: 100%;
    height: 100%;
}

.visjs-nodes-node-container {
    width: 240px;
    height: 100%;
    text-align: right;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

.visjs-nodes-node-span {
    color: @nodes-font-color;
}

.visjs-nodes-node-span p {
    padding: 0;
    margin: 0;
}

.visjs-nodes-node-span p em {
    font-size: 15px;
}

.visjs-nodes-icon {
    transform: matrix(-0.2,0,0,-0.2, 90, 90);
    fill: @nodes-font-color
}

.visjs-nodes-lock {
    transform: matrix(-0.075,0,0,-0.075, 40, 88);
    fill: @nodes-dark;
    stroke: @nodes-fill;
    stroke-width: 0;
}