ul.notifications {
    width: 450px;
}

@media (max-width: 1024px) {
    ul.notifications {
        width: 55%;
    }
}

li.notification div.title {
    font-weight: normal;
    margin-bottom: 0;
}

li.notification.success {
    background-color: @green;
}

li.notification.info {
    background-color: @yellow;
}

li.notification.error {
    background-color: @red;
}