ul#accordion li.form {
    width: @side-panel-width;
    padding: 0 @side-panel-padding;
}

ul#accordion li.form.show {
    height: auto;
    margin-bottom: 4px;
    padding: @side-panel-padding @side-panel-padding;
}

li.form form {
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
}

li.form form div {
    padding: 6px 0;
    position: relative;
}

li.form.green {
    background: @green-light;
}

li.form.yellow {
    background: @yellow-light;
}

li.form.red {
    background: @red-light;
}

li.form h1 {
    margin:0;
    display: inline;
}

li.form .label {
    position: absolute;
    font-size: @label-font-size;
    margin: 2px;
}


