ul#accordion li.searchbox {
    width: @side-panel-width;
    padding: 0 @side-panel-padding;
    background-color: @grey;
}

ul#accordion li.searchbox.show {
    height: 4em;
    margin-bottom: 4px;
    padding: @side-panel-padding @side-panel-padding;
}

.form_hint, .required_notification {
    font-size: @small-font-size;
}

.required_notification {
    color: #bbbbbb;
    margin:2px 0 0 0;
    display:inline;
    float:right;
}

button {
    font-family: Arial;
}

.searchbox .helpers {
    transition: @transition;
    opacity: 0;
}

.searchbox .helpers.show {
    opacity: 1;
}