ul#accordion li.typeSelector {
    width: @side-panel-width;
    padding: 0 @side-panel-padding;
    background-color: @grey;
    color: @side-panel-font-color;
}

ul#accordion li.typeSelector.show {
    height: auto;
    margin-bottom: 4px;
    padding: @side-panel-padding @side-panel-padding;
}

li.typeSelector .container {
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: @grey;
}

li.typeSelector .container div {
    padding: 6px 10px;
    position: relative;
    margin: 3px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

li.typeSelector h4 {
    margin:0;
    display: inline;
}

#updateConnectionTypesForm.show {
    height: auto !important;
}

li.typeSelector .container .selected {
    background-color: @grey-dark;
    color: @button-font-color;
}