body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: @normal-font-size;
}

#login-buttons {
  display: block;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.toggle-private {
  margin-left: 5px;
}

*:focus {
  outline: none;
}

input[type="text"], input[type="password"] {
  height:20px;
  width: @side-panel-width - 20;
  padding:5px 8px !important;
  border: @input-border !important;
  border-radius: @border-radius !important;
}

button.submit {
  transition: @transition;
  height:32px;
  width: @side-panel-width - 2;
  background-color: @button-background;
  border: 0;
  color: @button-font-color;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
}
button.submit:hover {
  background-color: @button-background-hover;
  cursor: pointer;
}