@normal-font-size: 14px;
@small-font-size: 11px;
@label-font-size: 13px;
@input-border: 1px solid #e3e3e3;
@border-radius: 5px;
@transition: all 0.4s ease-out;
@side-panel-width: 210px;
@side-panel-padding: 15px;
@side-panel-font-color: #bbbbbb;
@button-background: rgba(0, 0, 0, 0.2);
@button-background-hover: rgba(0, 0, 0, 0.3);
@button-font-color: #fff;
@accordion-button-height: 2em;
@nodes-fill: #00A5CA;
@nodes-stroke: #006E90;
@nodes-selected: #0090B6;
@nodes-dark: #007c97;
@nodes-font-color: #fff;
@green: #84d18c;
@green-light: #9feca7;
@green-dark: #74bb7c;
@yellow: #d1cf8f;
@yellow-light: #e1df9f;
@yellow-dark: #c3c181;
@red: #d1a08f;
@red-light: #e2ab9d;
@red-dark: #bd8d7c;
@grey: #f3f3f3;
@grey-dark: #dedede;

@import "client/stylesheets/body.less";
@import "ui/stylesheet/accordion.less";
@import "ui/stylesheet/auth.less";
@import "ui/stylesheet/crudButtons.less";
@import "ui/stylesheet/network.less";
@import "ui/stylesheet/node.less";
@import "ui/stylesheet/notifications.less";
@import "ui/stylesheet/popup.less";
@import "ui/stylesheet/searchbox.less";
@import "ui/stylesheet/typeSelector.less";
@import "node_modules/ionicons-npm/less/_ionicons-font.less";
@import "node_modules/ionicons-npm/less/_ionicons-icons.less";
@import "node_modules/ionicons-npm/less/_ionicons-variables.less";
@import "node_modules/ionicons-npm/less/ionicons.less";