<template name="accordion">
    <section class="slide-fade">
        <ul id="accordion">
            {{> loginButtons}}
            {{#if currentUser}}
                {{#each buttons}}
                    {{> button}}
                {{/each}}
            {{/if}}
            <li class="searchbox show">{{>searchbox}}</li>
            {{>typeSelector}}
        </ul>
    </section>
</template>