<template name="button">
    <li id="{{id}}" class="{{class}} {{visibility}}">{{text}}</li>
    {{#if form}}
        <li id="{{id}}Form" class="form {{class}} {{formVisibility}}">
            {{> popup}}
        </li>
    {{/if}}
</template>