<template name="crudButtons">
    <div class="container">
        <div id="addConnectionType" class="button green">Add</div>
        <div id="editConnectionType" class="button yellow {{editHide}}">Edit</div>
        <div id="deleteConnectionType" class="button red {{deleteHide}}">Delete</div>
    </div>
</template>