<template name="loginButtonsOverriden">

    <li id="login-buttons" class="login-buttons-dropdown-align-{{align}} show">
        {{#if currentUser}}
            {{#if loggingIn}}
                {{#if dropdown}}
                    {{> _loginButtonsLoggingIn }}
                {{else}}
                    <div class="login-buttons-with-only-one-button">
                        {{> _loginButtonsLoggingInSingleLoginButton }}
                    </div>
                {{/if}}
            {{else}}
                {{> _loginButtonsLoggedIn}}
            {{/if}}
        {{else}}
            {{> _loginButtonsLoggedOut}}
        {{/if}}
    </li>

</template>