<!--           -->
<!-- LOGGED IN -->
<!--           -->
<template name="_loginButtonsLoggedInDropdownOverriden">
    {{#if dropdownVisible}}
        <a class="login-close-text">Close</a>
    {{else}}
        <a class="login-link-text" id="login-name-link">
            {{displayName}} ▾
        </a>
    {{/if}}
    <div id="login-dropdown-list" class="accounts-dialog-overriden {{#if dropdownVisible}}show{{/if}}">
        {{#if inMessageOnlyFlow}}
            {{> _loginButtonsMessages}}
        {{else}}
            {{#if inChangePasswordFlow}}
                {{> _loginButtonsChangePassword}}
            {{else}}
                {{> _loginButtonsLoggedInDropdownActions}}
            {{/if}}
        {{/if}}
    </div>
</template>

<!--            -->
<!-- LOGGED OUT -->
<!--            -->
<template name="_loginButtonsLoggedOutDropdownOverriden">
    {{#if dropdownVisible}}
        <a class="login-close-text">Close</a>
    {{else}}
        <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
    {{/if}}
    <div id="login-dropdown-list" class="accounts-dialog-overriden {{#if dropdownVisible}}show{{/if}}">
        {{#if loggingIn}}
            {{> _loginButtonsLoggingIn}}
        {{/if}}
        {{> _loginButtonsLoggedOutAllServices}}
    </div>
</template>

<template name="_loginButtonsFormFieldOverriden">
    {{#if visible}}
        <div id="login-{{fieldName}}-label-and-input">
            <input id="login-{{fieldName}}" type="{{inputType}}" placeholder="{{fieldLabel}}" />
        </div>
    {{/if}}
</template>