<template name="node">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">  
        <style> 
            {{ styles }}
        </style>  

        <path class="visjs-nodes-icon" d="M267 110 c59 -18 104 -58 117 -110 h-384 c13 52 58 92 117 110 c22 -13 48 -20 75 -20 s53 7 75 20z M192 384 c73 0 132 -59 132 -132 s-59 -132 -132 -132 s-132 59 -132 132 s59 132 132 132z M192 153 c42 0 78 26 92 63 h-184 c14 -37 50 -63 92 -63z" />    

        {{#if privateSwitch }}
            <path class="visjs-nodes-lock" d="M22 -32c-6 0 -11.167 2.16699 -15.5 6.5s-6.5 9.5 -6.5 15.5v212c0 6 2.16699 11.167 6.5 15.5s9.5 6.5 15.5 6.5h3h19v31c0 46 14.333 84.333 43 115s63.667 46 105 46v0c41.333 0 76.333 -15.333 105 -46s43 -69 43 -115v-31h22c6 0 11.167 -2.16699 15.5 -6.5
s6.5 -9.5 6.5 -15.5v-212c0 -6 -2.16699 -11.167 -6.5 -15.5s-9.5 -6.5 -15.5 -6.5h-340zM97 255v-31h17h155h18v31c0 33.333 -9.33301 60 -28 80v1c-18 19.333 -40.333 29 -67 29v0c-26.667 0 -49 -9.66699 -67 -29v-1c-18.667 -20 -28 -46.667 -28 -80z" />
        {{/if }}
        <foreignObject class="visjs-nodes-node-content"> 
            <div xmlns="http://www.w3.org/1999/xhtml" class="visjs-nodes-node-container"> 
                <span class="visjs-nodes-node-span">  
                    {{ name }}
                    <p><em>{{ position }}</em>  </p>
                </span>  
            </div> 
        </foreignObject>
    </svg>
</template>