<template name="popup">
    <form class="{{ id }}">

        {{#each fields}}
            {{#if equals formType "hidden" }}
                <input type="{{ formType }}" name="{{ name }}" value="{{ value }}">
            {{else}}
                <div>
                    {{#if equals formType "text" }}
                        <input
                            type="{{ formType }}"
                            name="{{ name }}"
                            placeholder="{{ label }}"
                            value="{{ value }}"
                        {{ required }} >
                    {{/if}}
                    {{#if equals formType "checkbox" }}
                        <input
                            type="{{ formType }}"
                            name="{{ name }}"
                        {{ checked }} >
                        <span class="label"> {{ label }} </span>
                    {{/if}}
                </div>
            {{/if}}
        {{/each}}

        <div><button class="submit" type="submit">Submit</button></div>

    </form>
</template>