<template name="searchbox">
    <input class="search" type="text" name="search" placeholder="Search ...">
    <div class="helpers {{helpers}}">
        <span><button class="prev" {{prev}}>&#9668;</button><button class="next" {{next}}>&#9658;</button></span>
        <span class="required_notification">Matches {{matches}}</span>
    </div>
</template>