<template name="typeSelector">
    <li class="typeSelector show">
        <div class="container">
            <h4>Select connection type</h4>
            {{#each connectionTypes}}
                <div id="{{_id}}" class="{{selected}}">
                    {{#if privateSwitch }}
                        <i class="ion-locked"></i>
                    {{/if}}
                    {{name}}
                </div>
            {{/each}}
        </div>
    </li>
    {{#if currentUser}}
        <li class="crudButtons show">{{> crudButtons}}</li>
        <li id="{{styling_id}}Form" class="form {{class}} {{formVisibility}}">
            {{> popup}}
        </li>
    {{/if}}
</template>
